{% extends 'base.html.twig' %}

{% block title %}Subscribe to premium{% endblock %}

{% block body %}
<div class="h-screen max-w-screen-lg px-10 mx-auto text-center">
    <a href="{{ path('app_subscription_checkout') }}" class="self-end px-3 py-2 transition-all duration-200 ease-in-out bg-green-700 rounded-md hover:bg-green-600 w-fit text-slate-50">
        {{ ux_icon('mdi:money', { 'class': 'h-5 w-5 text-slate-50 inline-block' }) }}
        Go Premium  
    </a>
</div>
{% endblock %}
